.mainT{

}
.login{

}
.button{
    background-color:lightblue ;
}
input{
    width:461px;
    height:50px;
    margin-bottom:10px;
}
setMsg{
    color:blue;
}
.get{
    background-color: lightyellow;
}
.News{
    padding:50px;
}